<div class="row">
  <div class="large-3 large-centered columns">
    <h2>iMessage</h2>
  </div>
</div>



<div class ="row">
  <div class = "large-10 columns large-centered">
    <div class = "panel">
      <% @messages.each do |message| %>
        <div class= "row">
          <div class = "large-7 columns">
            <h3>
              <%= message.content %>
            </h3>
          </div>
          <div class="large-5 columns">
            <%= link_to "show", message_path(message.id), class: "button tiny radius success"  %>
            <%= link_to "edit", edit_message_path(message.id), class: "button tiny radius success"  %>
            <%= link_to "delete", message_path(message.id), method: "DELETE", class: "button tiny radius alert"  %>
          </div>
        </div>

        <div class = "row">
          <div class = "large-12 columns">
            <h6> <%= message.inspect %> </h6>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-3 large-centered columns">
    <%= link_to "new message", new_message_path, class: "button success radius medium" %>
  </div>
</div>
